streamlit
pandas
plotly
#---

alpha-vantage==2.3.1
numpy==1.26.4
pandas==2.2.3
matplotlib==3.9.2
yfinance
finnhub-python==2.4.23
openai==1.66.5
langchain==0.3.21
langchain_openai==0.3.6
python-dotenv==1.1.0
tqdm==4.67.1
scikit-learn==1.5.0
alpaca-trade-api
pyfolio==0.9.2
stable-baselines3[extra]
torch
torchvision
torchaudio
gymnasium
streamlit
plotly